
<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>


    <div class="showcase">
        <h1>Welcome to Express <span class="green-text">DIARY</span> </h1>
            <p>Record Your Dairy life</p>
            <a href="/diary"> Open your Express</a>
    </div>


<%- include('./layout/Footer') %>